/* Main Styling */
h2 { font-size: 1.7rem; }

/* Utility Classes */
.display-1 { 
  font-size: 50px; 
}

.pt-1 { padding-top: 10px; }
.pb-1 { padding-top: 10px; }

/* Navbar */
#navbar {
  margin: 20px;
  padding: 10px;
}

#navbar .logo {
  text-align: center;
  float: none;
}

#navbar ul {
  list-style: none;
  float: right;
}

/* Showcase */
#showcase h1 {
  margin: 20px 0 10px 0;
}

#showcase img {
  height: 100%;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

/* Product */
.product-box {
  border: none;
  padding: 10px;
  height: 100%;
  margin: 0px;
}

/* .product-box img {
  width: 100%;
} */

.product-1-img,
.product-2-img {
  float: none;
  width: 80%;
  margin: 0 auto;
}

.product-1-text,
.product-2-text {
  float: none;
  width: 100%;
  text-align: center;
  padding: 30px;
}

/* About */
#about {
  text-align: center;
}

.about-box-1,
.about-box-2 {
  float: none;
  width: 100%;
  padding: 0 20px;
}

.about-box-1 h3 {
  font-size: 40px;
  padding-top: 0;
  padding-bottom: 20px;
}

/* Contact */
.contact-description,
.contact-form {
  float: none;
  width: 100%;
  padding: 10px 20px;
}

.contact-description p {
  padding-top: 0px;
}